body{
    background-color: antiquewhite;
}

header{
    color: white;
    font-size: 4em;
    background-color: darkmagenta;
    border: solid black 5px;
}

nav{
    margin: 30px;
}

nav a{
    display:block;
    margin:10px;
    padding:10px;
    text-align:center;
    border-radius: 5px;
    border: black 1px solid;
    box-shadow: 5px 3px 3px darkgray;
    color:black;
    text-decoration:none;
    font-size:1.5em;
    user-select: none;
}

a{
    color: black;
}

div:hover{
    background-color: lightgray;
}

nav a:active, nav a:focus{
    background-color: darkgray;
}

