body    {
    background-color: floralwhite;

}

h1 {
    font-family: Verdana;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding: 40px 100px 40px 100px;
    background-color: #EEEEEE;
    border: 5px solid black;
}

h2 {
    font-size: 2em;
    padding-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 25%;
    background-color: #EEEEEE;
    border: 2px dotted black;
}

ul {
    font-size: 1.5em;

}

.mail {
    color: blue;
}

dl {
    font-size: 1.5em;
}

dl > dt {
    font-weight: bold;
    text-decoration: underline;
}

a {
    color: red;
}

.likes  > p{
    font-size: 1.5em;
}

img {
    height: 350px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
}

table   {
    font-size: 1.5em;
    padding-top: 50px;
    border-collapse: collapse;
    margin: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0 ,0.5);
}

table thead tr {
    background-color: powderblue;
}

table th {
    padding: 12px 15px
}

table tr{
    border: 1px solid #222222;
}

table col {
    width: 20%;
    border: 1px solid #222222;
}


