/** Volgende CSS gaan we ze geven **/
.respimg {
    width: 100%;
    height: auto;
    display: block;
}

h1{
    text-transform: uppercase;
    font-size: 2.5em;
    border-bottom: 2px solid black;
    color: black;
}

h2{

}

body{
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
}

/*
            HEADER      HEADER      HEADER      HEADER      HEADER
 */

.header image{
    height: 50px;
    width: auto;
}

.header{
    border-bottom: 1px solid #ebe8e8;
    margin-right: auto;
    margin-left: auto;
}

/*
NAVIGATION  NAVIGATION  NAVIGATION  NAVIGATION  NAVIGATION
 */

.navigation{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.navigation span{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px solid #ebe8e8;
    text-transform: uppercase;
    font-size: 13px;
}

.navigation a{
    text-decoration: none;
    color: #5b4746;
}

.navigation span:last-child{
    border: none;
}

.navigation span:hover{
    border-bottom: 2px solid #fff100;
    margin-bottom: -2px;
}

/*
MAIN    MAIN    MAIN    MAIN    MAIN    MAIN
GRID    GRID    GRID    GRID    GRID    GRID
 */

.main{
    border-top: 1px solid #ebe8e8;
}

.mainHeader{
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../images/headerimage.jpg");
    background-size: cover;

    height: 500px;
    color: white;
    font-size: 40px;
    text-shadow: #8D99AE 2px 2px;
}

.mainRecipes{
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

.recipesGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*
    grid-template-areas:
    'text-1 foto-1'
    'text-2 foto-2'
    'text-3 foto-3';
    grid-template-columns: 1fr 1fr;
    gap: 15px;
     */
}
/*
.text1{grid-area: text-1;}
.text2{grid-area: text-2;}
.text3{grid-area: text-3;}
.foto1{grid-area: foto-1;}
.foto2{grid-area: foto-2;}
.foto3{grid-area: foto-3;}
 */
.text1,.text2,.text3{
    border-top: 1px solid #ddd;
    padding-top: 50px;
}

.kicker{
    text-transform: uppercase;
    font-size: 1.2em;
    text-space: 1px;
    color: #ff4d56;
}

.recipesGrid a{
    color: black;
    text-decoration: none;
}

.recepiBody{
    color: #666;
    line-height: 2;
}

.auteur{
    padding-right: 10px;
    border-right: 1px solid #ebe8e8;
    font-style: italic;
}

.timestamp{
    color: #666;
    padding-left: 10px;
}

/*
MAIN    MAIN    MAIN    MAIN    MAIN    MAIN
BOOT    BOOT    BOOT    BOOT    BOOT    BOOT
 */

.recommended{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.row div{
    margin-bottom: 25px;
}

/*
FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER
 */

.footer{
    width: 100%;
    border-top: 1px solid #ebe8e8;
    line-height: 2em;
}
#left{
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 20px;
}

#right{
    width: 50%;
    float: right;
    text-align: left;
    padding-left: 20px;

    color: white;
    background-color: black;
}
/*
            MEDIA QUERREIS  MEDIA QUERRIES
 */

@media screen and (min-width: 1000px) {
    .header{
        width: 980px;
    }
    .navigation{
        width: 980px;
    }

    .mainRecipes{
        width: 980px;
    }

    .recommended{
        width: 980px;
    }
}

@media screen and (max-width: 1000px) {
    .header{
        width: 750px;
    }
    .navigation{
        width: 750px;
    }

    .mainRecipes{
        width: 750px;
    }

    .recommended{
        width: 750px;
    }
}

@media screen and (max-width: 770px) {
    .header{
        width: 600px;
    }

    .navigation{
        width: 600px;
    }

    .mainRecipes{
        width: 600px;
    }

    .recommended{
        width: 600px;
    }
}

@media screen and (min-width: 800px) {
    .mainHeader{
        font-size: 5em;
    }
}