body{
    background-color: #444444;
}

/*
ALLE SPECIALE TEKENS VOOR IN HTML CODE
HET BLOK WORD GECENTREERD MET CALCULATE ZODAT HET ALTIJD CENTRAAL BLIJFT STAAN
*/

.tekens p{
    font-size: 2em;
    text-align: center;
    margin: 20px;
}

.tekens span{
    color: red;
    font-weight: bold;
}

.tekens{
    background-color: antiquewhite;
    width: 40%;
    border: 5px solid black;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.tekenstekst{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media screen and (max-width: 900px){
    .tekenstekst{
        grid-template-columns: 1fr;
        gap: 10px;
    }
}
/*
/////////////////////   FLEX    /////////////////   FLEX    //////////////////////
 */

