body{
    text-align: center;
}

.caption {
    font-family: helvetica;
    font-size: 16px;
    margin-top: 12px;
}

.gridHeader {
    background-color: #dcd6fe;
    grid-row: 1;
}

.gridNav {
    background-color: #c6c0ff;
    grid-row: 2;
}

.gridMain {
    background-color: #f9f6d2;
    grid-row: 3;
}

.gridAside {
    background-color: #d4ffd1;
    grid-row: 4;
}

.gridFooter {
    background-color: #ffd1d1;
    grid-row: 5;
}

@media screen and (min-width: 786px) {
    .grid{
        display: grid;
        min-height: 800px;
        grid-template-areas:
    'header header header header header'
    '. navigation main aside-1 .'
    'footer footer footer footer footer';
        grid-template-columns: 5% 10% auto 10% 5%;
        grid-template-rows: 1fr 4fr 1fr;
    }
    .gridHeader {grid-area: header;}
    .gridNav{grid-area: navigation;}
    .gridMain{grid-area: main;}
    .gridAside{grid-area: aside-1;}
    .gridFooter{grid-area: footer;}
}

@media screen and (max-width: 786px) {
    .grid{
        display: grid;
        grid-template-areas:
                'header'
                'navigation'
                'main'
                'aside'
                'footer';
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,1fr);
    }

    .gridHeader{grid-area: header;}
    .gridNav{grid-area: navigation;}
    .gridMain{grid-area: main;}
    .gridAside{grid-area: aside}
    .gridFooter{grid-area: footer}
}