body    {
    padding: 0px;
    margin: 0px;

}

p{
    font-size: 1.25em;
}

section#box1 {
    border: 2px solid black;
    float: left ;
    width: 50%;
}

section#box2{
    border: 2px solid black;
    float: right;
    width: 50%;
}

