body{
    background-color: lightgray;
    font: 1.25em sans-serif;
    margin: 0px;
}

article {
    border: 1px solid black;
    padding: 10px;
    min-height: 280px;
    margin: 0 10px 10px;
}

article:nth-child(even) ing{   /* ipv v even kan je ook 2n gebruiken */
    display: block;
    float: left;
}

article:nth-child(odd) img{     /* ipv odd kan je ook 2n+1 */
    display: block;
    float: right;
}