body{
    background-color: #8D99AE;
}

.colorGray{
    background-color: gray;
}

.colorLightGray{
    background-color: lightgray;
}

div[class*='col']{
    width: 60%;
    height: 200px;
    box-sizing: border-box;
    border: white 10px solid;
}

@media screen and (min-width: 768px){
    div[class *= 'col']{
        width: 50%;
        float: left;
    }

    body{
        background-color: #EF233C;
    }
}

@media screen and (min-width: 992px){
    div[class *= 'col']{
        width: 22%;
        float: left;
    }

    body{
        background-color: #04fef9;
    }
}